.body{
    background-color: red;
}
img{
    margin: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 80%;
    height: 90%;
}
main{
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading{
    margin-top: 20px;
}
.heading h1{
        font-family: "Alex Brush", cursive;
        font-weight: 400px;
        font-style: normal;      
        text-align: center;
        font-size: 80px;
        color: white;
}
button{
color: red;
padding: 10px 20px;
border-color: red;
opacity: 0.7;
transition: all 200ms ease-in-out;
}
button:hover{
    cursor: pointer;
    color: black;
    border: 1px solid white;
    background-color: red;
}
#topHeading{
    display: flex;
    justify-content: space-evenly;
}

div p{
        font-family: "Great Vibes", cursive;
        font-weight: 400;
        font-style: normal;      
    font-size: 40px;
    opacity: 0.8;
    color: white;
}

  .text{
    color: white;
    font-size: 50px;
    text-align: center;
    position: relative;
  }
.sampleImages{
    display: flex;
justify-content: space-between;
margin-left: 2px;
margin-right: 2px;
}
.contact{
    text-align: center;
}